/* Root */ 

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
div,
h3,
p {
  margin: 0;
}

:root {
  --ff-primary: "Josefin Sans";
  --ff-secondary: "Indie Flower";
  


  --clr-primary: #F5CD20;
  --clr-secondary: black;
  --clr-accent1: #FFF455;
  --clr-accent2: #94B6C7;
  --clr-accent3: #F5CD20;
  --clr-accent4: #F9705A;


  
  --fw-bold: 900;
  --fw-reg: 400;
  --fw-small: 100;
  

  --fs-h1 : 3rem; 
  --fs-h2 : 2rem;
  --fs-h3 : 1.5rem;
  --fs-p: 1rem;
}

section {
  margin-top: 1em;
  margin-bottom: 1em;
}

.section-title {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
  font-family: var(--ff-primary);
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
}

hr {
  border-top: 2px solid var(--clr-primary);
  border-radius:1px;
}


/* Nav bar */
.nav {
  display: flex;
  justify-content: space-around;
  background-color:var(--clr-primary);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  align-items: center;
}

@media (max-width: 700px) {
  .nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 2em;
    padding-top: 2em;
    gap: 2em;
    padding: none;
    align-items: center;
}

  .contact-us-btn {
    margin-right: 10em;
}
}

.home-nav, 
.about-us-nav, 
.teachers-nav,
.reading-list-nav,
.testimonials-nav,
.contact-nav,
.language-nav,
.contact-us-btn
 {
  text-decoration: none;
  color: black;
  font-family: var(--ff-primary);
  font-size: 1.2rem;
  font-weight: var(--fw-bold);
}

.contact-nav {
  text-decoration: none;
  color: var(--clr-primary);
  font-family: var(--ff-primary);
  font-size: 1.2rem;
  font-weight: var(--fw-bold);
}

.contact-us-btn {
  background-color: var(--clr-secondary);
  color: var(--clr-accent3);
  border: none;
  padding: 1em 1em;
  border-radius: 2.5em;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

.contact-us-btn:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.contact-us-btn:active {
  opacity: 0.5;
}



/* About us */



.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1400px) {
  .about-container {
    grid-template-columns: 1fr;
  }

  .about-pic-container{
   text-align: center;
  }
}

@media (max-width: 800px) {
  .about-container {
    grid-template-columns: 1fr;
  }

  .about-pic-container{
   text-align: center;
  }

  .about-pic {
    max-width: 30em;
    padding-right: 5em;
  }

 
}

.about-intro {
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
  color: var(--clr-secondary);
  line-height: 2.5em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  
}

.company-name {
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  color: var(--clr-accent4);
}

.about-pic {
  height: 20em;
  object-fit: contain;
  padding-left: 5em;
}

/* Pricing */
.pricing-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  text-align: center;
  gap: 1em;
  padding-left: 8em;
  padding-right: 8em;
  padding-bottom: 4em;
  }

  @media (max-width: 1400px) {
    .pricing-container {
      grid-template-columns: repeat(2 ,1fr);
      gap: 5em;
    }
  }

  @media (max-width: 900px) {
    .pricing-container {
      grid-template-columns: repeat(1, 1fr);
      gap: 5em;
      padding-left: 2em;
      padding-right: 2em;
      
    }
  }

  .price {
    border-style: solid;
    border-color: rgb(233, 233, 233);
    border-width: 1px;
    border-radius: 5px;
  }

  .price-title {
    background-color: #21252908;
    padding: 1em;
    font-family: var(--ff-primary);
    font-size: var(--fs-h3);
    color: var(--clr-secondary);
 }

 .price-info-money {
  font-family: var(--ff-primary);
  font-size: var(--fs-h3);
  color: var(--clr-secondary);
 }

 .price-info-days {
  font-family: var(--ff-primary);
  font-size: 0.9em;
  font-weight: var(--fw-reg);
  color: rgb(123, 123, 123);
 }

 .price-info-para {
  font-family: var(--ff-primary);
  font-size: 0.9em;
  font-weight: var(--fw-reg);
  line-height: 1.5em;
 }

 .price-button {
  font-family: var(--ff-primary);
  font-size: 1rem;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em 6em;
  border-radius: 5px;
  border: none;
  background-color: var(--clr-primary);
  cursor: pointer;
  transition: box-shadow 0.15s;
}

.price-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.price-button:active {
  opacity: 0.5;
}

 .academic-english {
  background-color: var(--clr-primary);
 }
  






/* Teachers */
.teachers-section {
  color: var(--clr-secondary);
}


.teachers-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding-bottom: 5em;
  padding-left: 2em;
  padding-right: 2em;
}

@media (max-width: 1300px) {
  .teachers-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 3em;
  }
 }

@media (max-width: 800px) {
  .teachers-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 5em;
  }
 }


.teacher {
  display: grid;
  justify-content: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: var(--clr-primary);
}


.teacher-name {
  justify-self: center;
  font-family: var(--ff-primary);
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}

.teacher-pic {
  height: 18em;
  padding-top: 1em;
  justify-self: center;
}

.teacher-qualification {
  justify-self: center;
  padding-top: 1em;
  font-family: var(--ff-primary);
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  margin: 0;
}

.teacher-experience {
  justify-self: center;
  padding-top: 1em;
  font-family: var(--ff-primary);
  font-size: var(--fs-p);
  font-weight: var(--fw-bold);
}

.teacher-quote {
  justify-self: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
}

/* reading-list*/

.reading-list-section {
  background-color: var(--clr-primary);
}


.reading-list-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 5em;
  gap: 2em;
  padding-left: 2em;
}

@media (max-width: 800px) {
  .reading-list-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 8em;

  }
 }


.book-pic {
  height: 18em;
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}

.book-info {
  padding-top: 1em;
  text-align: center;
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
  padding-bottom: 1em;;
}

/* Fine tuning, title alignment */

.charlotte {
  padding-right: 4em;
}

.otto {
  padding-right: 2em;
}

.one-bite {
  padding-right: 2em;
}

.betty {
  padding-right: 1em;
}

.prince {
  padding-right: 3em;
}


/* Testimonial*/


.testimonial-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5em;
  padding-left: 2em;
 }

 @media (max-width: 1400px) {
  .testimonial-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    padding: 0;
  }
 }

 

 

.testimonial {
  display: grid;
  height: 15em;
  width: 41em;
  justify-self: center;
}

.kids-name-sarah,
.kids-name-ellie,
.kids-name-bob,
.kids-name-holly
 {
  justify-self: center;
  align-self: center;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
}

.kids-name-sarah {
  padding-top: 2em;
  margin: 0;
}

.kids-name-ellie {
  padding-top: 1.8em;
  margin: 0;
}

.kids-name-bob {
  padding-top: 1.5em;
  margin: 0;
}

.kids-name-holly {
  padding-top: 2em;
  margin: 0;
}


.kids-quote-sarah {
  width: 20em;
  padding-left: 1em;
  padding-bottom: 1em;
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}

.kids-quote-ellie {
  width: 24em;
  padding-left: 8em;
  padding-bottom: 2em;
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}

.kids-quote-bob {
  width: 20em;
  padding-left: 5em;
  padding-bottom: 2em;
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}

.kids-quote-holly {
  width: 20em;
  padding-left: 2em;
  padding-bottom: 1em;
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}


.group {
  height: 25em;
  grid-row: span 2;
}

/* footer */



.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
  background-color: var(--clr-primary);
  margin-top: 5em;
}

.footer-div {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-family: var(--ff-primary);
  font-size: var(--fs-p);
  font-weight: var(--fw-bold);
}

.footer-icon {
  height: 2em;
}




